CREATE DATABASE Wensy
go

create login wensy with password= 'Passw0rd!',CHECK_POLICY = off;

USE Wensy
GO

CREATE USER [wensy] FOR LOGIN [wensy] WITH DEFAULT_SCHEMA=[dbo]
GO

ALTER ROLE [db_owner] ADD MEMBER [wensy]
GO

USE Wensy
GO
/****** Object:  Table [dbo].[tbAlertRules]    Script Date: 2018-04-03 오전 8:32:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAlertRules](
	[ServerType] [nvarchar](30) NULL,
	[ReasonCode] [nvarchar](5) NOT NULL,
	[PCID] [nvarchar](5) NOT NULL,
	[Threshold] [float] NULL,
	[TOperator] [int] NULL,
	[ReasonCodeDesc] [nvarchar](250) NULL,
	[InstanceName] [nvarchar](200) NULL,
	[Duration] [int] NULL,
	[HasReference] [bit] NULL,
	[RecordApps] [bit] NULL,
	[IsEnabled] [bit] NULL,
	[AlertLevel] [nvarchar](12) NULL,
	[RefDescription] [nvarchar](64) NULL,
	[ReqActionCode] [nvarchar](5) NULL,
	[RegionCode] [nvarchar](10) NULL,
	[MobileAlert] [nvarchar](2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CI_tbAlertRules_ReasonCode_PCID]    Script Date: 2018-04-03 오전 8:32:05 ******/
CREATE CLUSTERED INDEX [CI_tbAlertRules_ReasonCode_PCID] ON [dbo].[tbAlertRules]
(
	[ReasonCode] ASC,
	[PCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbAlertRules_Server]    Script Date: 2018-04-03 오전 8:32:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAlertRules_Server](
	[ServerNum] [int] NULL,
	[ServerType] [nvarchar](30) NULL,
	[ReasonCode] [nvarchar](5) NULL,
	[PCID] [nvarchar](5) NULL,
	[Threshold] [float] NULL,
	[TOperator] [int] NULL,
	[ReasonCodeDesc] [nvarchar](250) NULL,
	[InstanceName] [nvarchar](200) NULL,
	[Duration] [int] NULL,
	[HasReference] [bit] NULL,
	[RecordApps] [bit] NULL,
	[IsEnabled] [bit] NULL,
	[AlertLevel] [nvarchar](12) NULL,
	[RefDescription] [nvarchar](64) NULL,
	[ReqActionCode] [nvarchar](5) NULL,
	[MobileAlert] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbAlerts_JSON]    Script Date: 2018-04-03 오전 8:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAlerts_JSON](
	[TimeIn_UTC] [datetime] NULL,
	[ServerNum] [int] NULL,
	[Data_JSON] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [CI_tbAlerts_JSON_1]    Script Date: 2018-04-03 오전 8:32:06 ******/
CREATE CLUSTERED INDEX [CI_tbAlerts_JSON_1] ON [dbo].[tbAlerts_JSON]
(
	[TimeIn_UTC] ASC,
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDashboard]    Script Date: 2018-04-03 오전 8:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDashboard](
	[TimeIn_UTC] [datetime] NULL,
	[TimeIn] [datetime] NULL,
	[ServerNum] [int] NULL,
	[P0] [float] NULL,
	[P1] [float] NULL,
	[P2] [float] NULL,
	[P3] [float] NULL,
	[P4] [float] NULL,
	[P5] [float] NULL,
	[P6] [float] NULL,
	[P7] [float] NULL,
	[P8] [float] NULL,
	[P9] [float] NULL,
	[P10] [float] NULL,
	[P11] [float] NULL,
	[P12] [float] NULL,
	[P13] [float] NULL,
	[P14] [float] NULL,
	[P15] [float] NULL,
	[P16] [float] NULL,
	[P17] [float] NULL,
	[P18] [float] NULL,
	[P19] [float] NULL,
	[P20] [float] NULL,
	[P21] [float] NULL,
	[P22] [float] NULL,
	[P23] [float] NULL,
	[P24] [float] NULL,
	[P25] [float] NULL,
	[P26] [float] NULL,
	[P27] [float] NULL,
	[P28] [float] NULL,
	[P29] [float] NULL,
	[P30] [float] NULL,
	[P31] [float] NULL,
	[P32] [float] NULL,
	[P33] [float] NULL,
	[P34] [float] NULL,
	[P35] [float] NULL,
	[P36] [float] NULL,
	[P37] [float] NULL,
	[P38] [float] NULL,
	[P39] [float] NULL,
	[P40] [float] NULL,
	[P41] [float] NULL,
	[P42] [float] NULL,
	[P43] [float] NULL,
	[P44] [float] NULL,
	[P45] [float] NULL,
	[P46] [float] NULL,
	[P47] [float] NULL,
	[P48] [float] NULL,
	[P49] [float] NULL,
	[P50] [float] NULL,
	[P51] [float] NULL,
	[P52] [float] NULL,
	[P53] [float] NULL,
	[P54] [float] NULL,
	[P55] [float] NULL,
	[P56] [float] NULL,
	[P57] [float] NULL,
	[P58] [float] NULL,
	[P59] [float] NULL,
	[P60] [float] NULL,
	[P61] [float] NULL,
	[P62] [float] NULL,
	[P63] [float] NULL,
	[P64] [float] NULL,
	[P65] [float] NULL,
	[P66] [float] NULL,
	[P67] [float] NULL,
	[P68] [float] NULL,
	[P69] [float] NULL,
	[P70] [float] NULL,
	[P71] [float] NULL,
	[P72] [float] NULL,
	[P73] [float] NULL,
	[P74] [float] NULL,
	[P75] [float] NULL,
	[P76] [float] NULL,
	[P77] [float] NULL,
	[P78] [float] NULL,
	[P79] [float] NULL,
	[P80] [float] NULL,
	[P81] [float] NULL,
	[P82] [float] NULL,
	[P83] [float] NULL,
	[P84] [float] NULL,
	[P85] [float] NULL,
	[P86] [float] NULL,
	[P87] [float] NULL,
	[P88] [float] NULL,
	[P89] [float] NULL,
	[P90] [float] NULL,
	[P91] [float] NULL,
	[P92] [float] NULL,
	[P93] [float] NULL,
	[P94] [float] NULL,
	[P95] [float] NULL,
	[P96] [float] NULL,
	[P97] [float] NULL,
	[P98] [float] NULL,
	[P99] [float] NULL,
	[P100] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [CI_TimeIn_UTC_ServerNum]    Script Date: 2018-04-03 오전 8:32:06 ******/
CREATE CLUSTERED INDEX [CI_TimeIn_UTC_ServerNum] ON [dbo].[tbDashboard]
(
	[TimeIn_UTC] ASC,
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDashboard_JSON]    Script Date: 2018-04-03 오전 8:32:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDashboard_JSON](
	[TimeIn_UTC] [datetime] NULL,
	[ServerNum] [int] NULL,
	[Data_JSON] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [CI_tbDashboard_JSON_1]    Script Date: 2018-04-03 오전 8:32:07 ******/
CREATE CLUSTERED INDEX [CI_tbDashboard_JSON_1] ON [dbo].[tbDashboard_JSON]
(
	[TimeIn_UTC] ASC,
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHostStatus]    Script Date: 2018-04-03 오전 8:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHostStatus](
	[ServerNum] [int] NULL,
	[HostName] [nvarchar](64) NULL,
	[CurrentStatus] [int] NULL,
	[RegDate] [datetime] NULL,
	[ServerType] [nvarchar](30) NULL,
	[TimeIn_UTC] [datetime] NULL,
	[TimeIn] [datetime] NULL,
	[DisplayName] [nvarchar](50) NULL,
	[RAMSize] [bigint] NULL,
	[DisplayGroup] [nvarchar](30) NULL,
	[WinVer] [nvarchar](50) NULL,
	[Processors] [int] NULL,
	[IPAddress] [nvarchar](128) NULL,
	[AgentVer] [nvarchar](50) NULL,
	[CompanyNum] [int] NULL,
	[ProductKey] [nvarchar](64) NULL,
	[RegionCode] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [CI_ServerNum_TimeIn_UTC]    Script Date: 2018-04-03 오전 8:32:07 ******/
CREATE CLUSTERED INDEX [CI_ServerNum_TimeIn_UTC] ON [dbo].[tbHostStatus]
(
	[ServerNum] ASC,
	[TimeIn_UTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbMember]    Script Date: 2018-04-03 오전 8:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMember](
	[MemberNum] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[UserPWD] [nvarchar](100) NULL,
	[Name] [nvarchar](50) NULL,
	[RegDate] [datetime] NULL,
	[HP] [nvarchar](40) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[CompanyNum] [int] NULL,
	[Grade] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [CI_tbMember_Master_MemberNum]    Script Date: 2018-04-03 오전 8:32:07 ******/
CREATE CLUSTERED INDEX [CI_tbMember_Master_MemberNum] ON [dbo].[tbMember]
(
	[MemberNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPCID]    Script Date: 2018-04-03 오전 8:32:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPCID](
	[PCID] [nvarchar](5) NULL,
	[ServerType] [nvarchar](30) NOT NULL,
	[PObjectName] [nvarchar](50) NOT NULL,
	[PCounterName] [nvarchar](50) NOT NULL,
	[HasInstance] [bit] NULL,
	[ValueDescription] [nvarchar](64) NULL,
	[RValueDescription] [nvarchar](64) NULL,
 CONSTRAINT [PK_PObjectName_PCounterName] PRIMARY KEY NONCLUSTERED 
(
	[PObjectName] ASC,
	[PCounterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPCID_Server]    Script Date: 2018-04-03 오전 8:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPCID_Server](
	[ServerNum] [int] NOT NULL,
	[PCID] [nvarchar](5) NOT NULL,
	[ServerType] [nvarchar](30) NOT NULL,
	[PObjectName] [nvarchar](50) NOT NULL,
	[PCounterName] [nvarchar](50) NOT NULL,
	[HasInstance] [bit] NULL,
	[ValueDescription] [nvarchar](64) NULL,
	[RValueDescription] [nvarchar](64) NULL,
	[used] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPerfmonValues_JSON]    Script Date: 2018-04-03 오전 8:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPerfmonValues_JSON](
	[TimeIn_UTC] [datetime] NULL,
	[ServerNum] [int] NULL,
	[Data_JSON] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [CI_tbPerfmonValues_JSON_1]    Script Date: 2018-04-03 오전 8:32:09 ******/
CREATE CLUSTERED INDEX [CI_tbPerfmonValues_JSON_1] ON [dbo].[tbPerfmonValues_JSON]
(
	[TimeIn_UTC] ASC,
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPInstance]    Script Date: 2018-04-03 오전 8:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPInstance](
	[PCID] [nvarchar](5) NOT NULL,
	[InstanceName] [nvarchar](200) NOT NULL,
	[IfContains] [bit] NULL,
 CONSTRAINT [PK_PCID_InstanceName] PRIMARY KEY NONCLUSTERED 
(
	[PCID] ASC,
	[InstanceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CI_tbPInstance_PCID]    Script Date: 2018-04-03 오전 8:32:09 ******/
CREATE CLUSTERED INDEX [CI_tbPInstance_PCID] ON [dbo].[tbPInstance]
(
	[PCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPInstance_Server]    Script Date: 2018-04-03 오전 8:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPInstance_Server](
	[ServerNum] [int] NULL,
	[PCID] [nvarchar](5) NULL,
	[InstanceName] [nvarchar](200) NULL,
	[IfContains] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbServers_Member]    Script Date: 2018-04-03 오전 8:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbServers_Member](
	[CompanyNum] [int] NULL,
	[MemberNum] [int] NULL,
	[ServerNum] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSQLQueryDefinition]    Script Date: 2018-04-03 오전 8:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSQLQueryDefinition](
	[QueryID] [int] NULL,
	[Interval] [int] NULL,
	[DestinationTable] [nvarchar](50) NULL,
	[Query] [nvarchar](max) NULL,
	[Enabled] [bit] NULL,
	[QueryDescription] [nvarchar](128) NULL,
	[SPName] [nvarchar](1000) NULL,
	[OccursTime] [nvarchar](10) NULL,
	[IsProcedure] [nvarchar](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSQLQueryDefinition_Server]    Script Date: 2018-04-03 오전 8:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSQLQueryDefinition_Server](
	[ServerNum] [int] NULL,
	[QueryID] [int] NULL,
	[Interval] [int] NULL,
	[DestinationTable] [nvarchar](50) NULL,
	[Query] [nvarchar](max) NULL,
	[Enabled] [bit] NULL,
	[QueryDescription] [nvarchar](128) NULL,
	[SPName] [nvarchar](1000) NULL,
	[OccursTime] [nvarchar](10) NULL,
	[IsProcedure] [nvarchar](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [CI_tbQueryDefinition_Server_ServerNum]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE CLUSTERED INDEX [CI_tbQueryDefinition_Server_ServerNum] ON [dbo].[tbSQLQueryDefinition_Server]
(
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSQLServerInfo]    Script Date: 2018-04-03 오전 8:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSQLServerInfo](
	[TimeIn_UTC] [date] NULL,
	[TimeIn] [datetime] NULL,
	[ServerNum] [int] NULL,
	[MachineName] [nvarchar](128) NULL,
	[ServerName] [nvarchar](128) NULL,
	[InstanceName] [nvarchar](128) NULL,
	[IsClustered] [int] NULL,
	[ComputerNamePhysicalNetBIOS] [nvarchar](128) NULL,
	[Edition] [nvarchar](128) NULL,
	[ProductLevel] [nvarchar](128) NULL,
	[ProductVersion] [nvarchar](128) NULL,
	[ProcessID] [int] NULL,
	[Collation] [nvarchar](128) NULL,
	[IsFullTextInstalled] [int] NULL,
	[IsIntegratedSecurityOnly] [int] NULL,
	[IsHadrEnabled] [int] NULL,
	[HadrManagerStatus] [int] NULL,
	[IsXTPSupported] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCI_tbAlertRules_RegionCode_ReasonCode]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [NCI_tbAlertRules_RegionCode_ReasonCode] ON [dbo].[tbAlertRules]
(
	[RegionCode] ASC,
	[ReasonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCI_tbAlertRules_Server_Num]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [NCI_tbAlertRules_Server_Num] ON [dbo].[tbAlertRules_Server]
(
	[ServerNum] ASC,
	[ReasonCode] ASC,
	[PCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCI_tbAlertRules_Server_Num_ReasonCode_AlertLevel]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [NCI_tbAlertRules_Server_Num_ReasonCode_AlertLevel] ON [dbo].[tbAlertRules_Server]
(
	[ServerNum] ASC,
	[ReasonCode] ASC,
	[AlertLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CI_tbhoststatus_2]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [CI_tbhoststatus_2] ON [dbo].[tbHostStatus]
(
	[CompanyNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCI_tbMember_Master_Email]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [NCI_tbMember_Master_Email] ON [dbo].[tbMember]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCI_tbPCID_Server]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [NCI_tbPCID_Server] ON [dbo].[tbPCID_Server]
(
	[ServerNum] ASC,
	[PCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NCI_tbPInstance_Server_Server_ServerNum_PCID]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [NCI_tbPInstance_Server_Server_ServerNum_PCID] ON [dbo].[tbPInstance_Server]
(
	[ServerNum] ASC,
	[PCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CI_CompanyNum_MemberNum_ServerNum]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [CI_CompanyNum_MemberNum_ServerNum] ON [dbo].[tbServers_Member]
(
	[CompanyNum] ASC,
	[MemberNum] ASC,
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CI_MemberNum_ServerNum]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [CI_MemberNum_ServerNum] ON [dbo].[tbServers_Member]
(
	[MemberNum] ASC,
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CI_ServerNum]    Script Date: 2018-04-03 오전 8:32:11 ******/
CREATE NONCLUSTERED INDEX [CI_ServerNum] ON [dbo].[tbSQLServerInfo]
(
	[ServerNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

INSERT [dbo].[tbAlertRules] ([ServerType], [ReasonCode], [PCID], [Threshold], [TOperator], [ReasonCodeDesc], [InstanceName], [Duration], [HasReference], [RecordApps], [IsEnabled], [AlertLevel], [RefDescription], [ReqActionCode], [RegionCode], [MobileAlert]) VALUES (N'Windows', N'R001', N'P001', 75, 1, N'높은 CPU 사용률({t}% 이상)이 1분 이상 동안 지속되었습니다. ', N'_Total', 60, 0, 1, 1, N'Warning', N'', N'', N'KR', N'N')
INSERT [dbo].[tbAlertRules] ([ServerType], [ReasonCode], [PCID], [Threshold], [TOperator], [ReasonCodeDesc], [InstanceName], [Duration], [HasReference], [RecordApps], [IsEnabled], [AlertLevel], [RefDescription], [ReqActionCode], [RegionCode], [MobileAlert]) VALUES (N'Windows', N'R001', N'P001', 75, 1, N'High CPU %Utilization({t}%) for more than 1 minute. ', N'_Total', 60, 0, 1, 1, N'Warning', N'', N'', N'EN', N'N')
INSERT [dbo].[tbAlertRules] ([ServerType], [ReasonCode], [PCID], [Threshold], [TOperator], [ReasonCodeDesc], [InstanceName], [Duration], [HasReference], [RecordApps], [IsEnabled], [AlertLevel], [RefDescription], [ReqActionCode], [RegionCode], [MobileAlert]) VALUES (N'Windows', N'R001', N'P001', 75, 1, N'高いCPU使用率が1分以上間持続しました。({t}%)', N'_Total', 60, 0, 1, 1, N'Warning', N'', N'', N'JP', N'N')
INSERT [dbo].[tbPCID] ([PCID], [ServerType], [PObjectName], [PCounterName], [HasInstance], [ValueDescription], [RValueDescription]) VALUES (N'P001', N'Windows', N'Processor', N'% Processor time', 1, N'%CPU Utilization', N'Number of Processors')
INSERT [dbo].[tbPCID] ([PCID], [ServerType], [PObjectName], [PCounterName], [HasInstance], [ValueDescription], [RValueDescription]) VALUES (N'P002', N'Windows', N'Processor', N'% Privileged time', 1, N'%CPU Utilization in Kernel', N'Number of Processors')
INSERT [dbo].[tbPCID] ([PCID], [ServerType], [PObjectName], [PCounterName], [HasInstance], [ValueDescription], [RValueDescription]) VALUES (N'P003', N'Windows', N'System', N'Context switches/sec', 0, N'Context switches/sec', N'Context switches/sec per CPU')
INSERT [dbo].[tbPInstance] ([PCID], [InstanceName], [IfContains]) VALUES (N'P001', N'_Total', 0)
INSERT [dbo].[tbPInstance] ([PCID], [InstanceName], [IfContains]) VALUES (N'P002', N'_Total', 0)
INSERT [dbo].[tbPInstance] ([PCID], [InstanceName], [IfContains]) VALUES (N'P091', N'_Total', 0)
